.button {
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid whitesmoke;
  transition: all 0.2s ease;
  background-color: #0a0a0a;
  color: whitesmoke;
  backdrop-filter: blur(4px);
}

.button:active {
  background-color: whitesmoke;
  border-color: whitesmoke;
}

.button:disabled {
  cursor: not-allowed;
  color: #9ca3af;
  border-color: #9ca3af;
}

.sm {
  padding: 0.25rem 0.5rem;
}

.md {
  padding: 0.5rem 1rem;
}

.lg {
  padding: 0.75rem 1.5rem;
}

.icon {
  padding: 0.5rem;
}
