.textInput {
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid whitesmoke;
  transition: all 0.2s ease;
  background-color: #0a0a0a;
  color: whitesmoke;
  backdrop-filter: blur(4px);
}

.textInput:focus {
  outline-color: red;
}

.textInput:disabled {
  background-color: #e5e7eb;
}

.sm {
  padding: 0.25rem 0.5rem;
}

.md {
  padding: 0.5rem 1rem;
}

.lg {
  padding: 0.75rem 1.5rem;
}
