.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 1em;
}

.grid > div > div {
  height: 20rem;
  overflow-y: scroll;
  border-radius: 0.5rem;
  border: 1px solid whitesmoke;
  padding: 1rem;
  color: whitesmoke;
}
